body {
  margin: 0;
  padding: 0;
}


.minesweeper {
  margin: 20px auto;
  width: 500px;
  height: 620px;
  border-left: 1px solid black;
}

.boardhead {
  width: 500px;
  height: 120px;
  border: 1px solid black;
}

.boardhead h2 {
  margin-bottom: 20px;
}

.boardhead button {
  margin-top: -5px;
}

.board {
  width: 500px;
  height: 500px;
}

.gameRow {
  width: 500px;
  height: 50px;
}

.cell {
  width: 50px;
  height: 50px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: inline-block;
}

.cell:hover {
  background-color: #F0F0F0;
}

.open {
  background-color: #F0F0F0;
  vertical-align: top;
  padding: 15px;
}

.closed {
  background-color: #C8C8C8;
}